<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:p="http://www.springframework.org/schema/p"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans">

    <!--扫描类包，将标注Spring注解的类自动转化Bean，同事完成Bean的注入-->
    <context:component-scan base-package="com.baobaotao.dao"/>

    <!--定义一个jdbc pool的数据源（书中原为DBCP）-->
    <bean id="dataSource" class="org.apache.tomcat.jdbc.pool.DataSource"
            destroy-method="close"
            p:driverClassName="com.mysql.jdbc.Driver"
            p:url="jdbc:mysql://localhost:3306/sampledb"
            p:username="root"
            p:password="zzl81cn"/>

    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate" p:dataSource-ref="dataSource"/>
</beans>